<div class="container main-container">
  <ngb-tabset>
    <ngb-tab title="All users">
      <template ngbTabContent>
        <app-note-list></app-note-list>
      </template>
    </ngb-tab>
    <ngb-tab *ngFor="let user of users">
      <template ngbTabTitle>{{ user.nickname }}</template>
      <template ngbTabContent>
        <app-note-list [user]="user"></app-note-list>
      </template>
    </ngb-tab>
  </ngb-tabset>
</div>
<button type="button" class="btn btn-primary btn-circle btn-lg" role="button" placement="top" ngbTooltip="Add a note"><i class="fa fa-plus" aria-hidden="true"></i></button>